.intro__button--contained{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 18px;

    height: 42px;
    left: calc(50% - 169px/2 - 113.5px);
    margin: 0px 24px;

    background: #3C64B1;
    color: white;
    border: none;
    cursor: pointer;
}

.intro__button--outlined{
    display: flex;
    align-items: center;
    padding: 12px 18px;

    height: 42px;
    left: calc(50% - 203px/2 + 96.5px);

    border: 1px solid #3C64B1;
    box-sizing: border-box;
    margin: 0px 24px;

    background: transparent;
    color: #3C64B1;
    cursor: pointer;
}

.navBar__button--contained{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 18px;

    position: static;
    width: 94px;
    height: 42px;
    right: 0px;
    top: calc(50% - 42px/2);

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 20px;

    background: #3C64B1;
    border: none;
    color: white;
    cursor: pointer;
}
.navBar__button--textual{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    
    width: 43px;
    height: 42px;
    right: 114px;
    top: calc(50% - 42px/2);

    margin: 0px 20px;

    border: none;
    background: transparent;

    color:#3C64B1;
    cursor: pointer;
}

