.userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    flex-basis: 25%;

    justify-items: flex-start;
}

.userCard__picture{
    width: 256px;
    height: 260px;
    background-color: rgba(87, 87, 171, 0.086);
    background-size: cover;
}

.userCard__info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.userCard__info:hover{
    background: transparent;
}