.userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    margin-top: 62px;
}

.userCard__picture{
    height: 260px;
    width: 256px;
    background-color: rgba(87, 87, 171, 0.086);
    background-size: cover; 
}

.userCard__info{
    width: 256px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.userCard__info__header{
    margin-bottom: 12px;
}

.userCard__info:hover{
    background: lightcyan;
}