.links{
    width: 472px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.links__dropdown{
    display: none;
}

@media(max-width:1210px){
    
    .links__dropdown{
        display: inline-block;
        position: absolute;
        top: calc(50%-32px);
        left: 50px;
        cursor: pointer;
        transform: scale(2);
    }
    
    .links__link{
        display: none;
    }

    .links{
        position: absolute;
        top: 88px;
        width:100%;
        display: block;
        padding: 0;
        margin: 0;  
        background-color: rgb(255, 255, 255);  
    }
    
    .links__link.links__link--active{
        display: block;
    }
}