.navBar{
    position: absolute;
    height: 88px;
    left: 0px;
    right: 0px;
    top: 0px;

    filter: drop-shadow(0px 55px 2px rgba(255, 255, 255, 0.25));
    background: rgba(60, 101, 177, 0.06);
}

.logo{
    position: absolute;
    width: 47px;
    height: 49px;
    left: 177px;
    top: 20px;
}

.nav__button{
    
}