.intro{
    width:100%;
    height: 564px;
    top: 88px;

    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);

    background: rgba(60, 101, 177, 0.06);
    background-image: url("../../img/unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    max-width: 730px;
    height: 296px;
}

.intro__buttonWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 396px;
    height: 42px;
    left: calc(50% - 396px/2);
    top: 254px;
}

@media(max-width: 425px){
    .intro__buttonWrapper{
    flex-direction: column;
    width: 100%;
}
}