.link{
    color: rgba(55, 63, 65, 1);
    text-decoration-line: none;
}

.link:visited{
    color: rgba(55, 63, 65, 1);
}

@media(max-width:1210px){
    .link{
    padding: 14px 50px;
    display: block;   
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);
    }
}